{{ if ne .Values.environment "ci" }}
apiVersion: cert-manager.io/v1alpha2
kind: Certificate
metadata:
  name: riot-web
  namespace: default
spec:
  secretName: riot-web-tls
  issuerRef:
    name: letsencrypt
  dnsNames:
  - riot.{{ .Values.domain }}
{{ end }}
