apiVersion: v1
kind: ConfigMap
metadata:
  name: matrix-server-synapse
data:
  homeserver.yaml: |
    server_name: "{{ .Values.domain }}"

    pid_file: /homeserver.pid

    public_baseurl: https://matrix.{{ .Values.domain }}/

    use_presence: false

    listeners:
    - port: {{ .Values.port }}
      tls: false
      bind_addresses: ['0.0.0.0']
      type: http
      x_forwarded: true

      resources:
      - names: [client, federation]
        compress: false
    - port: 9000
      bind_addresses: ['0.0.0.0']
      type: metrics


    database:
      name: psycopg2
      args:
        user: '{{ .Values.db.user }}'
        password: '{{ .Values.db.password }}'
        database: '{{ .Values.db.name }}'
        host: '{{ .Values.db.host }}'
        cp_min: 5
        cp_max: 10

    log_config: "/etc/matrix-server/{{ .Values.domain }}.log.config"
    signing_key_path: "/etc/matrix-server/{{ .Values.domain }}.signing.key"

    media_store_path: "/data/media_store"
    uploads_path: "/data/uploads"

    enable_registration_captcha: true
    recaptcha_public_key: "{{ .Values.recaptcha.publicKey }}"
    recaptcha_private_key: "{{ .Values.recaptcha.privateKey }}"

    enable_registration: true

    registrations_require_3pid:
    - email

    allowed_local_3pids:
    - medium: email
      pattern: '{{ .Values.emailPattern }}'
    - medium: msisdn
      pattern: '.*'

    enable_metrics: true

    auto_join_rooms:
{{ toYaml .Values.autojoinRooms | indent 4 }}

    report_stats: false

    macaroon_secret_key: "{{ .Values.macaroonSecretKey }}"
    form_secret: "{{ .Values.formSecret}}"
{{ if .Values.antiscam }}
    spam_checker:
      module: "files.AntiScamSpamChecker"
      config:
        rooms:
        - exclusive: true
        - regex: '#testing*'
{{ end }}

{{ if .Values.email.enabled }}
    email:
      enable_notifs: false
      smtp_host: {{ .Values.email.smtp.host | quote }}
      smtp_port: {{ .Values.email.smtp.port }}
      smtp_user: {{ .Values.email.smtp.user | quote }}
      smtp_pass: {{ .Values.email.smtp.password | quote }}
      notif_from: {{ .Values.email.from | quote }}
      riot_base_url: {{ .Values.email.riotBaseUrl | quote }}
{{ end }}
